.thumb button {
    width: 100%;
    user-select: none;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    font-size: 14px;
    box-shadow: 0px 0px 32px 1px rgb(0 0 0 / 10%);
    cursor: pointer;
    transition: 0.5s;
  }

  .thumb.swiper-slide-active button,
  .thumb button:hover {
    color: var(--green);
    box-shadow: none;
    background-color: var(--lightgreen2);
  }

  .thumb.swiper-slide-active button {
    margin-top: -50px;
  }

  .rule {
    transition: 0.5s;
  }

  .swiper-slide:not(.swiper-slide-active) .rule {
    opacity: 0.5;
  }

  /* call swiper */
  .call-swiper [title-active],[title],a {
  transition: .3s;
  }
  .call-swiper .swiper-slide-active [title-active] {
    text-shadow: 0 0 3px black;
    opacity: 1;
  }
  .call-swiper .swiper-slide-active [title]{
  opacity: 0;
  }
  .call-swiper .swiper-slide-active a{
    color: white;
    background-color: var(--green);
  }
