/* ==== Globals ==== */
:root {
  font-family: iransansx;
  --green: #16ae74;
  --yellow: #ffcc29;
  --black: #000000;
  --lightgreen1: #e8ffd6;
  --lightgreen2: #f4faee;
  --lightyellow: #1e3163;
  --silver: #f0f0f0;
  --white70: rgba(255, 255, 255, 0.5);
  --shadow: rgb(0 0 0 / 26%) 0px 2px 12px 1px;
}
@font-face {
  font-family: iransans;
  src: url("../fonts/IRANSans\(FaNum\).ttf");
}

body,
h1,
p {
  margin: 0;
  padding: 0;
}
select,
input {
  background: unset;
  outline: none;
}
select {
  cursor: pointer;
}
.text-shadow{
  text-shadow: 2px 2px 10px black;
}
/* cusom scroll bar */

/* width */
::-webkit-scrollbar {
  width: 7px;
  padding: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--tertiary);
  float: right;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--green);
  cursor: pointer;
}

.scrollbar-2px ::-webkit-scrollbar {
  width: 2px!important;
  height: 2px;
}
/* ==== Individuals ==== */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;
  overflow: hidden;
}
.navbar-div.scrolled {
  background-image: url("../images/bg_0.png");
  background-position: center;
  background-color: white;
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.menu li {
  position: relative;
  transition: 0.5s;
}
.menu li:not(.navbar-logo):after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  margin-top: 2px;
  position: absolute;
  transition: 0.5s;
}
.menu li:hover:after,
.menu li.current::after {
  width: 70%;
}

.bf-btn {
  background-color: var(--green);
  padding: 7px;
  color: white;
  border-radius: 4px;
  transition: 0.5s;
  font-size: 14px;
  cursor: pointer;
}
.bf-btn:hover {
  box-shadow: var(--shadow);
}

.selected-page-number {
  background-color: var(--green) !important;
  color: white !important;
}
.next-page-btn.disabled,
.prev-page-btn.disabled {
  background-color: white;
  color: var(--green);
  stroke: var(--green);
  border: solid var(--green) 1px;
  cursor:not-allowed;
}

.menu li::after {
  background-color: var(--green);
}
.menu li.current,
.menu li:hover {
  color: var(--green);
}
.footer-list-link{
  font-size: 14px;
}