/* ==== News Page ==== */
.wrapper {
  background-image: url("../images/bg_0.png");
}
.menu li::after{
    background-color: var(--green);
}
.menu li.current,.menu li:hover{
    color: var(--green);
}
